form{
    max-width: 650px;
    min-width: 400px;
    margin: 25px auto;
    border: 2px dotted black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    
}

div{
    margin-bottom: 15px;
}

label{
    width: 175px;
    display: inline-block;
    text-align: right;
    margin-right: 15px;
}

div input{
    border: 2px solid;
    border-radius: 5px;
    padding: 20px auto 20px auto;
    height: 20px;
    font-size: 14px;
}

div select{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 20px auto 20px auto;
    height: 20px;
}

textarea{
    margin-left: 45px;    
}

button{
    margin-left: 200px;
}